ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
* {
  box-sizing: border-box;
}

.coluna {
  float: right;
  width: 30%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.linha::after {
  content: "";
  clear: both;
  display: table;
}

footer{
  margin-top: 50px;
  text-align: center;
	height: 100px;
	clear: both;
	padding: 20px;
}

.cookies{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textos{
  text-align: center;
}